############################################################################################
#
# RCL client defaults (loaded after settings.cfg for every client launch)
#
############################################################################################

ZONE_HEIGHT 2
ZONE_SEGMENTS 22
ZONE_ALPHA 0.2

CAMERA_CUSTOM_RISE 19.5
CAMERA_CUSTOM_BACK 20
CAMERA_CUSTOM_PITCH -0.75
CAMERA_GLANCE_BACK 20
CAMERA_GLANCE_RISE 19.5
CAMERA_GLANCE_PITCH -0.75

START_FOV_1 85

MAX_IN_RATE 16384
MAX_OUT_RATE 16384
